<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>parent</key>
        <string>at.obdev.LaunchBar.theme.Default</string>
        <key>brightBlue</key>
        <string>0.16 0.56 1 0.8</string>
        <key>defaultDimmedTextColor</key>
        <string>0.8 0.8 0.8</string>
        <key>defaultEmphasizedFontName</key>
        <string>SFCompactRounded-Semibold</string>
        <key>defaultTextColor</key>
        <string>whiteColor</string>
        <key>defaultTextShadowColor</key>
        <string>#00000033</string>
        <key>defaultTextShadowColor@2x</key>
        <string>clearColor</string>
        <key>defaultFontName</key>
        <string>SFCompactRounded-Medium</string>
        <key>inputAreaAbbreviationBaselineOffset</key>
        <integer>0</integer>
        <key>inputAreaAbbreviationFontName</key>
        <string>SFCompactRounded-Bold</string>
        <key>inputAreaAbbreviationFontSize</key>
        <integer>13</integer>
        <key>inputAreaAbbreviationTextColor</key>
        <string>0.6 0.45 0.9 0.8</string>
        <key>inputAreaActionMenuAreaBackgroundColor</key>
        <string>0 0 0 0.12</string>
        <key>inputAreaHeight</key>
        <integer>55</integer>
        <key>inputAreaNonKeyWindowTextColorOffsetLevel</key>
        <real>-0.3</real>
        <key>inputAreaTextColor</key>
        <string>@defaultTextColor</string>
        <key>itemListExtraDetailsBaselineOffset</key>
        <integer>0</integer>
        <key>itemListExtraDetailsFontName</key>
        <string>SFCompactRounded-Medium</string>
        <key>itemListGridLineShadowHeight</key>
        <integer>0</integer>
        <key>itemListSubtitleInSeparateLine</key>
        <string>true</string>
        <key>itemListLabeledExtraDetailsBackgroundColor</key>
        <string>1 1 1 0.1</string>
        <key>itemListLabeledExtraDetailsBadgeCornerRadius</key>
        <string>10</string>
        <key>itemListLabeledExtraDetailsBadgeHeight</key>
        <string>20</string>
        <key>itemListLabeledExtraDetailsBaselineOffset</key>
        <integer>2</integer>
        <key>itemListLabeledExtraDetailsFontName</key>
        <string>@labelFontName</string>
        <key>itemListLabeledExtraDetailsFontSize</key>
        <string>@labelFontSize</string>
        <key>itemListLabeledExtraDetailsPadding</key>
        <string>7</string>
        <key>itemListLabeledExtraDetailsTextColor</key>
        <string>1 1 1 0.7</string>
        <key>itemListLabeledExtraDetailsSelectedBackgroundColor</key>
        <string>0 0 0 0.2</string>
        <key>itemListNavigationArrowImage</key>
        <string>NavigationArrow.png</string>
        <key>itemListScrollerColor</key>
        <string>1 1 1 0.2</string>
        <key>itemListSelectionHighlightColor</key>
        <string>@brightBlue</string>
        <key>itemListSelectionSubsearchHighlightColor</key>
        <string>#376BAB</string>
        <key>itemListSeparatorUpperLineColor</key>
        <string>1 1 1 0.2</string>
        <key>itemListStagedItemHighlightLevel</key>
        <real>0.3</real>
        <key>itemListSubtitleBaselineOffset</key>
        <string>5</string>
        <key>itemListSubtitleFontName</key>
        <string>SFCompactRounded-Semibold</string>
        <key>itemListSubtitleTextColor</key>
        <string>@defaultTextColor - 0.35</string>
        <key>itemListTitleFontName</key>
        <string>SFCompactRounded-Medium</string>
        <key>labelFontName</key>
        <string>SFMono-Bold</string>
        <key>labelFontSize</key>
        <string>13</string>
        <key>textInputBackgroundColor</key>
        <string>clear</string>
        <key>textInputEdgeInsets</key>
        <string>8 8 16 8</string>
        <key>textInputFieldEditorEdgeInsets</key>
        <string>0 0 0 0</string>
        <key>textInputFieldTextContainerInset</key>
        <string>0 -10</string>
        <key>textInputFontName</key>
        <string>SFCompactRounded-Regular</string>
        <key>textInputPlaceholderTextColor</key>
        <string>#999999</string>
        <key>textInputSelectedTextBackgroundColor</key>
        <string>@itemListSelectionHighlightColor</string>
        <key>textInputTitleFontName</key>
        <string>SFCompactRounded-Semibold</string>
        <key>windowBackgroundBlurRadius</key>
        <integer>10</integer>
        <key>windowBackgroundColor</key>
        <string>0.1 0.1 0.1 0.9</string>
        <key>windowBackgroundColorIsDark</key>
        <true />
        <key>windowBackgroundIsVibrant</key>
        <false />
        <key>windowBackgroundVibrancy</key>
        <integer>1</integer>
        <key>windowCornerRadius</key>
        <integer>5</integer>
        <key>windowHasInnerShadow</key>
        <true />
        <key>windowShadowStyle</key>
        <integer>4</integer>
        <key>windowVibrantBackgroundColor</key>
        <string>0 0 0 0.10</string>
        <key>itemListGridLineGradient</key>
        <dict>
            <key>0.0</key>
            <string>1 1 1 0.1</string>
            <key>0.1</key>
            <string>1 1 1 0.2</string>
            <key>0.9</key>
            <string>1 1 1 0.2</string>
            <key>1.0</key>
            <string>1 1 1 0.1</string>
        </dict>
    </dict>
</plist>